<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seznam akcí</title>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body class="bg-gradient-to-b from-sky-400 to-blue-800 h-screen flex flex-col content-center items-center">
<h1 class="pt-2 text-3xl text-white font-semibold">Seznam akcí</h1>
<ul>
    {% for event in events %}
    <li><a  class="text-white font-semibold" href="{% url 'event_detail' event.pk %}">{{ event.name }} 🔍️</a></li>
    {% endfor %}
</ul>
<div class="m-2 p-2 flex">
    <div class="p-2">
        <a href="{% url 'event_new' %}" class="text-2xl text-green-400 green font-semibold pl-2">+</a>
        <a href="{% url 'event_new' %}" class="text-2xl text-white font-semibold pl-2 pr-2">Nová akce</a>
    </div>
    <div class="p-2">
        <a href="{% url 'event_delete_select' %}" class="text-2xl text-red-400 font-semibold pl-2">-</a>
        <a href="{% url 'event_delete_select' %}" class="text-2xl text-white font-semibold pl-2 pr-2">Smazat akci</a>

    </div>
</div>
</body>
</html>
